<!DOCTYPE html>
<html>
<head>
	<title>Bai 04 Serving HTML Pages</title>
	<link rel="stylesheet" type="text/css" href="assets/styles.css" />
	<style type="text/css">
		label, input {
			display: block;
		}
	</style>
</head>
<body>
	<h1>Welcome to the Contact Page</h1>

		<!-- Example 1:06-query-strings -->
	<!-- <p>Hello <%=queryString.name %></p> -->

	<!-- Example 2: 06-query-strings -->
<!-- 	<form id="contact-form">
		<label for="name">
			Your Full Name:
			<input type="text" name="name" 
					 value="<%=queryString.name %>" />
		</label>
		
		<label for="department">
			Your Department:
			<input type="text" name="department" 
					value="<%=queryString.department %>" />
		</label>
		
		<label for="email">
			Your Email:
			<input type="text" name="email" 
					value="<%=queryString.email %>" />
		</label>

		<input type="submit" value="Submit" />
	</form> -->

	<!-- 07: POST request  -->
	<!--
	<form id="contact-form" method="POST" action="/contact">
		<label for="name">
			Your Full Name:
			<input type="text" name="name" 
					 value="<%=queryString.name %>" />
		</label>
		
		<label for="department">
			Your Department:
			<input type="text" name="department" 
					value="<%=queryString.department %>" />
		</label>
		
		<label for="email">
			Your Email:
			<input type="text" name="email" 
					value="<%=queryString.email %>" />
		</label>

		<input type="submit" value="Submit" />
	</form> -->

</body>
</html>